extends ../layout/admin

block contenido
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Casual
      span.font-normal Parking
    h2.text-center.text-2xl.font-extrabold= pagina

    div(class="flex justify-center mb-5")
      a(href="/propiedades/crear" class="rounded mt-3 py-2 px-10 bg-pink-900 hover:bg-pink-700 text-sm font-bold text-center text-white uppercase inline-block") Publicar Garage

    // SON.stringify para ver si llegan los datos a la vista
    //pre= JSON.stringify(propiedades, undefined, 2)

    if propiedades.length
      div(class="bg-white shadow rounded-lg")
        ul(class="divide-y divide-gray-200")
          each propiedad in propiedades
            li
              div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                div(class="sm:w-1/4 md:w-1/6")
                  img(src=`uploads/${propiedad.imagen}` alt=`Imagen Garage ${propiedad.titulo}` class="w-full block")
                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3")
                  a(class="block text-2xl font-extrabold text-gray-600 truncate" href="")=propiedad.titulo

                  p(class="text-sm text-black font-bold")= propiedad.categoria.nombre
                  p(class="text-sm text-black font-bold")= propiedad.precio.nombre
                  p(class="text-sm text-black font-bold")= propiedad.calle

                div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col space-y-2")
                  form(action="")
                    input(type="submit" class=`w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer ${propiedad.publicado ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-600'}`
                    value =`${propiedad.publicado ? 'Publicado' : 'No Publicado'}`)

                  a(href=`/propiedades/editar/${propiedad.id}` class="w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800 text-center block") Editar
                  
                  form(method="POST" action=`/propiedades/eliminar/${propiedad.id}`)
                    input(type="hidden" name="_csrf" value= csrfToken)
                    input(type="submit" class="w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800"
                    value="Eliminar")


    else
      p.text-center No Hay Garages